{
  "openapi": "3.0.1",
  "info": {
    "title": "CLA OData",
    "description": "OData services for CLA. \n\nThis documentation is to be used in conjunction with the API User Guide (Word document).\n\n The API User Guide outlines important background information such as system concepts, OData features implemented, authentication, roles and permissions, use cases, known issues and contains additional information on some API endpoints.",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://ext-api.livestockinformation.org.uk/cla-public/v1.0"
    },
    {
      "url": "https://ext-cla.api.livestockinformation.org.uk/cla-public/v1.0"
    }
  ],
  "paths": {
    "/CorrectTransferRequests({id})": {
      "get": {
        "tags": [
          "CorrectTransferRequests"
        ],
        "summary": "Get a specific request to correct an existing movement of animals",
        "description": "Returns a specific CorrectTransferRequest using its request id.\n* For most user roles, user only permitted to query for request id created by authenticated user.",
        "operationId": "get-v1-correcttransferrequests-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32. Format - int32. Request id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.CorrectTransfer.CorrectTransfer"
                },
                "example": {
                  "updatedDate": "string",
                  "requestDate": "string",
                  "requestStatus": "NotAvailable",
                  "userName": "string",
                  "warnings": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "content": {
                    "movementGroups": [
                      {
                        "devicesWithDetail": [
                          {
                            "beginBirthPeriod": "string",
                            "breed": "string",
                            "device": {
                              "freezebrand": "string",
                              "rfid": "string",
                              "tagNumber": "string"
                            },
                            "gender": "string",
                            "endBirthPeriod": "string",
                            "mgtTag": {
                              "identifier": "string"
                            }
                          }
                        ],
                        "devices": [
                          {
                            "freezebrand": "string",
                            "rfid": "string",
                            "tagNumber": "string"
                          }
                        ],
                        "batches": [
                          {
                            "idMark": "string",
                            "stockType": "string",
                            "batchNumber": "string",
                            "animalTotal": 0
                          }
                        ],
                        "fromSubLocation": "string",
                        "vendorHolding": "string",
                        "toSubLocation": "string"
                      }
                    ],
                    "id": 0,
                    "saleDate": "string",
                    "deviceApplication": {
                      "dateOfApplication": "string",
                      "endBirthPeriod": "string",
                      "breed": "string",
                      "beginBirthPeriod": "string"
                    },
                    "requestToBeUndone_ID": 0,
                    "transferDate": "string",
                    "transportHaulierName": "string",
                    "trackingId": "string",
                    "transportVehicleRegistrationNo": "string",
                    "userHolding": "string",
                    "saleId": "string",
                    "species": "string",
                    "destinationHolding": "string",
                    "sourceHolding": "string",
                    "processingFlags": [
                      {
                        "processingFlagId": 0,
                        "name": "string"
                      }
                    ],
                    "movementDocument": {
                      "departureDetail": {
                        "departureHoldingType": "string",
                        "departureDateTime": "string",
                        "departureKeeper": {
                          "county": "string",
                          "address2": "string",
                          "propertyName": "string",
                          "address1": "string",
                          "title": "string",
                          "telephoneNumber": "string",
                          "lastName": "string",
                          "postCode": "string",
                          "town": "string",
                          "firstName": "string"
                        },
                        "animalTotal": 0,
                        "loadingDateTime": "string",
                        "departureOwner": {
                          "county": "string",
                          "address2": "string",
                          "propertyName": "string",
                          "address1": "string",
                          "title": "string",
                          "telephoneNumber": "string",
                          "lastName": "string",
                          "postCode": "string",
                          "town": "string",
                          "firstName": "string"
                        },
                        "expectedDurationOfJourney": {
                          "hours": 0,
                          "days": 0,
                          "minutes": 0
                        }
                      },
                      "fciDetail": {
                        "isAllAnimalsFciCompliant": true,
                        "nonCompliantReason": "string",
                        "holdingRestrictions": "string",
                        "withdrawalPeriodObservedText": "string",
                        "metFCIWithdrawalPeriodCode": "string",
                        "nonCompliantDevices": [
                          {
                            "freezebrand": "string",
                            "rfid": "string",
                            "tagNumber": "string"
                          }
                        ]
                      },
                      "transportDetail": {
                        "transporterAuthNumber": "string",
                        "transporterType": "string",
                        "transportVehicleRegistrationNo": "string",
                        "transporter": {
                          "county": "string",
                          "address2": "string",
                          "propertyName": "string",
                          "address1": "string",
                          "title": "string",
                          "telephoneNumber": "string",
                          "lastName": "string",
                          "postCode": "string",
                          "town": "string",
                          "firstName": "string"
                        },
                        "transportHaulierName": "string"
                      },
                      "destinationDetail": {
                        "unloadingDateTime": "string",
                        "arrivalDateTime": "string",
                        "destinationKeeper": {
                          "county": "string",
                          "address2": "string",
                          "propertyName": "string",
                          "address1": "string",
                          "title": "string",
                          "telephoneNumber": "string",
                          "lastName": "string",
                          "postCode": "string",
                          "town": "string",
                          "firstName": "string"
                        },
                        "destinationHoldingType": "string",
                        "hasKeeperChanged": true,
                        "totalAnimalsReceived": 0
                      },
                      "documentType": "string",
                      "movementDocumentRef": "string"
                    },
                    "animalCount": 0
                  },
                  "requestId": 0,
                  "errors": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "undoSupported": true,
                  "isContentPurged": true,
                  "isFullUndone": true
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.CorrectTransfer.CorrectTransfer"
                },
                "example": "<CLAOData.Models.CorrectTransfer.CorrectTransfer> <updatedDate>string</updatedDate> <requestDate>string</requestDate> <requestStatus>NotAvailable</requestStatus> <userName>string</userName> <warnings> <message>string</message> <code>string</code> <target>string</target> </warnings> <content> <movementGroups> <devicesWithDetail> <beginBirthPeriod>string</beginBirthPeriod> <breed>string</breed> <device> <freezebrand>string</freezebrand> <rfid>string</rfid> <tagNumber>string</tagNumber> </device> <gender>string</gender> <endBirthPeriod>string</endBirthPeriod> <mgtTag> <identifier>string</identifier> </mgtTag> </devicesWithDetail> <devices> <freezebrand>string</freezebrand> <rfid>string</rfid> <tagNumber>string</tagNumber> </devices> <batches> <idMark>string</idMark> <stockType>string</stockType> <batchNumber>string</batchNumber> <animalTotal>0</animalTotal> </batches> <fromSubLocation>string</fromSubLocation> <vendorHolding>string</vendorHolding> <toSubLocation>string</toSubLocation> </movementGroups> <id>0</id> <saleDate>string</saleDate> <deviceApplication> <dateOfApplication>string</dateOfApplication> <endBirthPeriod>string</endBirthPeriod> <breed>string</breed> <beginBirthPeriod>string</beginBirthPeriod> </deviceApplication> <requestToBeUndone_ID>0</requestToBeUndone_ID> <transferDate>string</transferDate> <transportHaulierName>string</transportHaulierName> <trackingId>string</trackingId> <transportVehicleRegistrationNo>string</transportVehicleRegistrationNo> <userHolding>string</userHolding> <saleId>string</saleId> <species>string</species> <destinationHolding>string</destinationHolding> <sourceHolding>string</sourceHolding> <processingFlags> <processingFlagId>0</processingFlagId> <name>string</name> </processingFlags> <movementDocument> <departureDetail> <departureHoldingType>string</departureHoldingType> <departureDateTime>string</departureDateTime> <departureKeeper> <county>string</county> <address2>string</address2> <propertyName>string</propertyName> <address1>string</address1> <title>string</title> <telephoneNumber>string</telephoneNumber> <lastName>string</lastName> <postCode>string</postCode> <town>string</town> <firstName>string</firstName> </departureKeeper> <animalTotal>0</animalTotal> <loadingDateTime>string</loadingDateTime> <departureOwner> <county>string</county> <address2>string</address2> <propertyName>string</propertyName> <address1>string</address1> <title>string</title> <telephoneNumber>string</telephoneNumber> <lastName>string</lastName> <postCode>string</postCode> <town>string</town> <firstName>string</firstName> </departureOwner> <expectedDurationOfJourney> <hours>0</hours> <days>0</days> <minutes>0</minutes> </expectedDurationOfJourney> </departureDetail> <fciDetail> <isAllAnimalsFciCompliant>true</isAllAnimalsFciCompliant> <nonCompliantReason>string</nonCompliantReason> <holdingRestrictions>string</holdingRestrictions> <withdrawalPeriodObservedText>string</withdrawalPeriodObservedText> <metFCIWithdrawalPeriodCode>string</metFCIWithdrawalPeriodCode> <nonCompliantDevices> <freezebrand>string</freezebrand> <rfid>string</rfid> <tagNumber>string</tagNumber> </nonCompliantDevices> </fciDetail> <transportDetail> <transporterAuthNumber>string</transporterAuthNumber> <transporterType>string</transporterType> <transportVehicleRegistrationNo>string</transportVehicleRegistrationNo> <transporter> <county>string</county> <address2>string</address2> <propertyName>string</propertyName> <address1>string</address1> <title>string</title> <telephoneNumber>string</telephoneNumber> <lastName>string</lastName> <postCode>string</postCode> <town>string</town> <firstName>string</firstName> </transporter> <transportHaulierName>string</transportHaulierName> </transportDetail> <destinationDetail> <unloadingDateTime>string</unloadingDateTime> <arrivalDateTime>string</arrivalDateTime> <destinationKeeper> <county>string</county> <address2>string</address2> <propertyName>string</propertyName> <address1>string</address1> <title>string</title> <telephoneNumber>string</telephoneNumber> <lastName>string</lastName> <postCode>string</postCode> <town>string</town> <firstName>string</firstName> </destinationKeeper> <destinationHoldingType>string</destinationHoldingType> <hasKeeperChanged>true</hasKeeperChanged> <totalAnimalsReceived>0</totalAnimalsReceived> </destinationDetail> <documentType>string</documentType> <movementDocumentRef>string</movementDocumentRef> </movementDocument> <animalCount>0</animalCount> </content> <requestId>0</requestId> <errors> <message>string</message> <code>string</code> <target>string</target> </errors> <undoSupported>true</undoSupported> <isContentPurged>true</isContentPurged> <isFullUndone>true</isFullUndone> </CLAOData.Models.CorrectTransfer.CorrectTransfer>"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "title": "string",
                  "type": "string",
                  "detail": "string",
                  "instance": "string",
                  "status": 0
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": "<Microsoft.AspNetCore.Mvc.ProblemDetails> <type>string</type> <title>string</title> <status>0</status> <detail>string</detail> <instance>string</instance> </Microsoft.AspNetCore.Mvc.ProblemDetails>"
              }
            }
          }
        }
      }
    },
    "/HoldingMovementForReviews/ReviewBySpecies(species={species},holding={holding})": {
      "get": {
        "tags": [
          "HoldingMovementForReviews"
        ],
        "summary": "Gets movements that require review.",
        "description": "Gets holding movements awaiting review by the authenticated user.\n\nThis includes:\n - Movements on or off holdings by other users not connected to it. An example of this is if a market records a movement off the market to a producer holding.\n - Movements where both ends recorded the same movement. Movements where this is the case are highlighted by the `isDuplicate` property.\n - Pre-movements onto holdings by other users not connected to it, where the intended movement date has passed and has not been converted into actual movements or withdrawn.\n\nFor most user roles the authenticated user will only be able to see movements on or off holdings the user is associated with.\n\nSee [ReviewHoldingMovementRequests](#ReviewHoldingMovementRequests) to review the movements returned by this endpoint.",
        "operationId": "get-v1-holdingmovementforreviews-reviewbyspecies-species-species-holding-hol",
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "description": "*Necessity*: Required. \r\n            *Validation*: Must be a valid species from the [Species](#Species) endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holding",
            "in": "path",
            "description": "*Necessity*: Required for administration users, optional otherwise.\r\n            *Validation*: Must be a valid holding CPH or MHS number that the user is associated with.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ReviewHoldingMovement.HoldingMovementForReviewListResult"
                },
                "example": {
                  "value": [
                    {
                      "isDuplicate": true,
                      "documentType": "string",
                      "reviewDevices": [
                        {
                          "beginBirthPeriod": "string",
                          "rfid": "string",
                          "freezebrand": "string",
                          "breed": "string",
                          "tagNumber": "string",
                          "endBirthPeriod": "string"
                        }
                      ],
                      "sourceHolding": "string",
                      "duplicateRequestIds": [
                        0
                      ],
                      "movementDate": "string",
                      "isAccepted": true,
                      "requestId": 0,
                      "reviewBatches": [
                        {
                          "idMark": "string",
                          "batchMovementId": 0,
                          "batchNumber": "string",
                          "stockType": "string",
                          "animalTotal": 0
                        }
                      ],
                      "documentRef": "string",
                      "species": "string",
                      "destinationHolding": "string",
                      "animalTotal": 0,
                      "transportHaulierName": "string",
                      "userHolding": "string",
                      "transportVehicleRegistrationNo": "string"
                    }
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ReviewHoldingMovement.HoldingMovementForReviewListResult"
                },
                "example": "<CLAOData.Models.ReviewHoldingMovement.HoldingMovementForReviewListResult> <value> <isDuplicate>true</isDuplicate> <documentType>string</documentType> <reviewDevices> <beginBirthPeriod>string</beginBirthPeriod> <rfid>string</rfid> <freezebrand>string</freezebrand> <breed>string</breed> <tagNumber>string</tagNumber> <endBirthPeriod>string</endBirthPeriod> </reviewDevices> <sourceHolding>string</sourceHolding> <duplicateRequestIds>0</duplicateRequestIds> <movementDate>string</movementDate> <isAccepted>true</isAccepted> <requestId>0</requestId> <reviewBatches> <idMark>string</idMark> <batchMovementId>0</batchMovementId> <batchNumber>string</batchNumber> <stockType>string</stockType> <animalTotal>0</animalTotal> </reviewBatches> <documentRef>string</documentRef> <species>string</species> <destinationHolding>string</destinationHolding> <animalTotal>0</animalTotal> <transportHaulierName>string</transportHaulierName> <userHolding>string</userHolding> <transportVehicleRegistrationNo>string</transportVehicleRegistrationNo> </value> </CLAOData.Models.ReviewHoldingMovement.HoldingMovementForReviewListResult>"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "title": "string",
                  "type": "string",
                  "detail": "string",
                  "instance": "string",
                  "status": 0
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": "<Microsoft.AspNetCore.Mvc.ProblemDetails> <type>string</type> <title>string</title> <status>0</status> <detail>string</detail> <instance>string</instance> </Microsoft.AspNetCore.Mvc.ProblemDetails>"
              }
            }
          }
        }
      }
    },
    "/TransferRequests/$count": {
      "get": {
        "tags": [
          "TransferRequests"
        ],
        "summary": "Gets the count of requests.",
        "description": "Gets the count of requests previously submitted. The authenticated user's system permissions will determine whether the count only includes requests created by the authenticated user.",
        "operationId": "get-v1-transferrequests-count",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/V1TransferRequests-countGet200TextPlainResponse"
                },
                "examples": {
                  "default": {}
                }
              }
            }
          }
        }
      }
    },
    "/UndoRequests({id})": {
      "get": {
        "tags": [
          "UndoRequests"
        ],
        "summary": "Get a specific request to  undo / rollback a request previously recorded",
        "description": "Returns a specific UndoRequests using its request id.\n* For most user roles, user only permitted to query for request id created by authenticated user.",
        "operationId": "get-v1-undorequests-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32. Format - int32. Request id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.UndoRequest.UndoRequest"
                },
                "example": {
                  "updatedDate": "string",
                  "requestDate": "string",
                  "requestStatus": "NotAvailable",
                  "userName": "string",
                  "warnings": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "content": {
                    "id": 0,
                    "processingFlags": [
                      {
                        "processingFlagId": 0,
                        "name": "string"
                      }
                    ],
                    "trackingId": "string",
                    "undoRequestId": 0
                  },
                  "requestId": 0,
                  "errors": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "undoSupported": true,
                  "isContentPurged": true,
                  "isFullUndone": true
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.UndoRequest.UndoRequest"
                },
                "example": "<CLAOData.Models.UndoRequest.UndoRequest> <updatedDate>string</updatedDate> <requestDate>string</requestDate> <requestStatus>NotAvailable</requestStatus> <userName>string</userName> <warnings> <message>string</message> <code>string</code> <target>string</target> </warnings> <content> <id>0</id> <processingFlags> <processingFlagId>0</processingFlagId> <name>string</name> </processingFlags> <trackingId>string</trackingId> <undoRequestId>0</undoRequestId> </content> <requestId>0</requestId> <errors> <message>string</message> <code>string</code> <target>string</target> </errors> <undoSupported>true</undoSupported> <isContentPurged>true</isContentPurged> <isFullUndone>true</isFullUndone> </CLAOData.Models.UndoRequest.UndoRequest>"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "title": "string",
                  "type": "string",
                  "detail": "string",
                  "instance": "string",
                  "status": 0
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": "<Microsoft.AspNetCore.Mvc.ProblemDetails> <type>string</type> <title>string</title> <status>0</status> <detail>string</detail> <instance>string</instance> </Microsoft.AspNetCore.Mvc.ProblemDetails>"
              }
            }
          }
        }
      }
    },
    "/ApprovedMovements({id},{recordedBy})": {
      "get": {
        "tags": [
          "ApprovedMovements"
        ],
        "summary": "Gets the details of the specified movement",
        "description": "The requested movement is only returned if either:\n * The user is not linked to any holdings and movement is non-system.\n * The user is associated with either the departure or destination holding, it is a non-system movement, and has been recorded or accepted by the user or other users associated with the holding.",
        "operationId": "get-v1-approvedmovements-id-recordedby",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32. Format - int32. approvedMovementId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recordedBy",
            "in": "path",
            "description": "The role of the holding that recorded the movement.\r\n* *Necessity*: Required\r\n* *Validation*: Accepted values are `Departure` or `Destination`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 4.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ApprovedMovement.ApprovedMovement"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ApprovedMovement.ApprovedMovement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "title": "string",
                  "type": "string",
                  "detail": "string",
                  "instance": "string",
                  "status": 0
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": "<Microsoft.AspNetCore.Mvc.ProblemDetails> <type>string</type> <title>string</title> <status>0</status> <detail>string</detail> <instance>string</instance> </Microsoft.AspNetCore.Mvc.ProblemDetails>"
              }
            }
          }
        }
      }
    },
    "/TransferRequests({id})": {
      "get": {
        "tags": [
          "TransferRequests"
        ],
        "summary": "Get a specific request to register the movement of animals",
        "description": "Returns a specific TransferRequest using its request id.\n* For most user roles, user only permitted to query for request id created by authenticated user.",
        "operationId": "get-v1-transferrequests-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32. Format - int32. Request id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.Transfer.Transfer"
                },
                "example": {
                  "updatedDate": "string",
                  "requestDate": "string",
                  "requestStatus": "NotAvailable",
                  "userName": "string",
                  "warnings": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "content": {
                    "id": 0,
                    "trackingId": "string",
                    "sourceHolding": "string",
                    "animalCount": 0,
                    "movementDocument": {
                      "departureDetail": {
                        "departureHoldingType": "string",
                        "departureDateTime": "string",
                        "departureKeeper": {
                          "county": "string",
                          "address2": "string",
                          "propertyName": "string",
                          "address1": "string",
                          "title": "string",
                          "telephoneNumber": "string",
                          "lastName": "string",
                          "postCode": "string",
                          "town": "string",
                          "firstName": "string"
                        },
                        "animalTotal": 0,
                        "loadingDateTime": "string",
                        "departureOwner": {
                          "county": "string",
                          "address2": "string",
                          "propertyName": "string",
                          "address1": "string",
                          "title": "string",
                          "telephoneNumber": "string",
                          "lastName": "string",
                          "postCode": "string",
                          "town": "string",
                          "firstName": "string"
                        },
                        "expectedDurationOfJourney": {
                          "hours": 0,
                          "days": 0,
                          "minutes": 0
                        }
                      },
                      "fciDetail": {
                        "isAllAnimalsFciCompliant": true,
                        "nonCompliantReason": "string",
                        "holdingRestrictions": "string",
                        "withdrawalPeriodObservedText": "string",
                        "metFCIWithdrawalPeriodCode": "string",
                        "nonCompliantDevices": [
                          {
                            "freezebrand": "string",
                            "rfid": "string",
                            "tagNumber": "string"
                          }
                        ]
                      },
                      "transportDetail": {
                        "transporterAuthNumber": "string",
                        "transporterType": "string",
                        "transportVehicleRegistrationNo": "string",
                        "transporter": {
                          "county": "string",
                          "address2": "string",
                          "propertyName": "string",
                          "address1": "string",
                          "title": "string",
                          "telephoneNumber": "string",
                          "lastName": "string",
                          "postCode": "string",
                          "town": "string",
                          "firstName": "string"
                        },
                        "transportHaulierName": "string"
                      },
                      "destinationDetail": {
                        "unloadingDateTime": "string",
                        "arrivalDateTime": "string",
                        "destinationKeeper": {
                          "county": "string",
                          "address2": "string",
                          "propertyName": "string",
                          "address1": "string",
                          "title": "string",
                          "telephoneNumber": "string",
                          "lastName": "string",
                          "postCode": "string",
                          "town": "string",
                          "firstName": "string"
                        },
                        "destinationHoldingType": "string",
                        "hasKeeperChanged": true,
                        "totalAnimalsReceived": 0
                      },
                      "documentType": "string",
                      "movementDocumentRef": "string"
                    },
                    "deviceApplication": {
                      "dateOfApplication": "string",
                      "endBirthPeriod": "string",
                      "breed": "string",
                      "beginBirthPeriod": "string"
                    },
                    "transferDate": "string",
                    "processingFlags": [
                      {
                        "processingFlagId": 0,
                        "name": "string"
                      }
                    ],
                    "saleDate": "string",
                    "movementGroups": [
                      {
                        "devicesWithDetail": [
                          {
                            "beginBirthPeriod": "string",
                            "breed": "string",
                            "device": {
                              "freezebrand": "string",
                              "rfid": "string",
                              "tagNumber": "string"
                            },
                            "gender": "string",
                            "endBirthPeriod": "string",
                            "mgtTag": {
                              "identifier": "string"
                            }
                          }
                        ],
                        "devices": [
                          {
                            "freezebrand": "string",
                            "rfid": "string",
                            "tagNumber": "string"
                          }
                        ],
                        "batches": [
                          {
                            "idMark": "string",
                            "stockType": "string",
                            "batchNumber": "string",
                            "animalTotal": 0
                          }
                        ],
                        "fromSubLocation": "string",
                        "vendorHolding": "string",
                        "toSubLocation": "string"
                      }
                    ],
                    "species": "string",
                    "destinationHolding": "string",
                    "saleId": "string",
                    "transportHaulierName": "string",
                    "userHolding": "string",
                    "transportVehicleRegistrationNo": "string"
                  },
                  "requestId": 0,
                  "errors": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "undoSupported": true,
                  "isContentPurged": true,
                  "isFullUndone": true
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.Transfer.Transfer"
                },
                "example": "<CLAOData.Models.Transfer.Transfer> <updatedDate>string</updatedDate> <requestDate>string</requestDate> <requestStatus>NotAvailable</requestStatus> <userName>string</userName> <warnings> <message>string</message> <code>string</code> <target>string</target> </warnings> <content> <id>0</id> <trackingId>string</trackingId> <sourceHolding>string</sourceHolding> <animalCount>0</animalCount> <movementDocument> <departureDetail> <departureHoldingType>string</departureHoldingType> <departureDateTime>string</departureDateTime> <departureKeeper> <county>string</county> <address2>string</address2> <propertyName>string</propertyName> <address1>string</address1> <title>string</title> <telephoneNumber>string</telephoneNumber> <lastName>string</lastName> <postCode>string</postCode> <town>string</town> <firstName>string</firstName> </departureKeeper> <animalTotal>0</animalTotal> <loadingDateTime>string</loadingDateTime> <departureOwner> <county>string</county> <address2>string</address2> <propertyName>string</propertyName> <address1>string</address1> <title>string</title> <telephoneNumber>string</telephoneNumber> <lastName>string</lastName> <postCode>string</postCode> <town>string</town> <firstName>string</firstName> </departureOwner> <expectedDurationOfJourney> <hours>0</hours> <days>0</days> <minutes>0</minutes> </expectedDurationOfJourney> </departureDetail> <fciDetail> <isAllAnimalsFciCompliant>true</isAllAnimalsFciCompliant> <nonCompliantReason>string</nonCompliantReason> <holdingRestrictions>string</holdingRestrictions> <withdrawalPeriodObservedText>string</withdrawalPeriodObservedText> <metFCIWithdrawalPeriodCode>string</metFCIWithdrawalPeriodCode> <nonCompliantDevices> <freezebrand>string</freezebrand> <rfid>string</rfid> <tagNumber>string</tagNumber> </nonCompliantDevices> </fciDetail> <transportDetail> <transporterAuthNumber>string</transporterAuthNumber> <transporterType>string</transporterType> <transportVehicleRegistrationNo>string</transportVehicleRegistrationNo> <transporter> <county>string</county> <address2>string</address2> <propertyName>string</propertyName> <address1>string</address1> <title>string</title> <telephoneNumber>string</telephoneNumber> <lastName>string</lastName> <postCode>string</postCode> <town>string</town> <firstName>string</firstName> </transporter> <transportHaulierName>string</transportHaulierName> </transportDetail> <destinationDetail> <unloadingDateTime>string</unloadingDateTime> <arrivalDateTime>string</arrivalDateTime> <destinationKeeper> <county>string</county> <address2>string</address2> <propertyName>string</propertyName> <address1>string</address1> <title>string</title> <telephoneNumber>string</telephoneNumber> <lastName>string</lastName> <postCode>string</postCode> <town>string</town> <firstName>string</firstName> </destinationKeeper> <destinationHoldingType>string</destinationHoldingType> <hasKeeperChanged>true</hasKeeperChanged> <totalAnimalsReceived>0</totalAnimalsReceived> </destinationDetail> <documentType>string</documentType> <movementDocumentRef>string</movementDocumentRef> </movementDocument> <deviceApplication> <dateOfApplication>string</dateOfApplication> <endBirthPeriod>string</endBirthPeriod> <breed>string</breed> <beginBirthPeriod>string</beginBirthPeriod> </deviceApplication> <transferDate>string</transferDate> <processingFlags> <processingFlagId>0</processingFlagId> <name>string</name> </processingFlags> <saleDate>string</saleDate> <movementGroups> <devicesWithDetail> <beginBirthPeriod>string</beginBirthPeriod> <breed>string</breed> <device> <freezebrand>string</freezebrand> <rfid>string</rfid> <tagNumber>string</tagNumber> </device> <gender>string</gender> <endBirthPeriod>string</endBirthPeriod> <mgtTag> <identifier>string</identifier> </mgtTag> </devicesWithDetail> <devices> <freezebrand>string</freezebrand> <rfid>string</rfid> <tagNumber>string</tagNumber> </devices> <batches> <idMark>string</idMark> <stockType>string</stockType> <batchNumber>string</batchNumber> <animalTotal>0</animalTotal> </batches> <fromSubLocation>string</fromSubLocation> <vendorHolding>string</vendorHolding> <toSubLocation>string</toSubLocation> </movementGroups> <species>string</species> <destinationHolding>string</destinationHolding> <saleId>string</saleId> <transportHaulierName>string</transportHaulierName> <userHolding>string</userHolding> <transportVehicleRegistrationNo>string</transportVehicleRegistrationNo> </content> <requestId>0</requestId> <errors> <message>string</message> <code>string</code> <target>string</target> </errors> <undoSupported>true</undoSupported> <isContentPurged>true</isContentPurged> <isFullUndone>true</isFullUndone> </CLAOData.Models.Transfer.Transfer>"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "title": "string",
                  "type": "string",
                  "detail": "string",
                  "instance": "string",
                  "status": 0
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": "<Microsoft.AspNetCore.Mvc.ProblemDetails> <type>string</type> <title>string</title> <status>0</status> <detail>string</detail> <instance>string</instance> </Microsoft.AspNetCore.Mvc.ProblemDetails>"
              }
            }
          }
        }
      }
    },
    "/UndoRequests/$count": {
      "get": {
        "tags": [
          "UndoRequests"
        ],
        "summary": "Gets the count of requests.",
        "description": "Gets the count of requests previously submitted. The authenticated user's system permissions will determine whether the count only includes requests created by the authenticated user.",
        "operationId": "get-v1-undorequests-count",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/V1UndoRequests-countGet200TextPlainResponse"
                },
                "examples": {
                  "default": {}
                }
              }
            }
          }
        }
      }
    },
    "/UndoRequests": {
      "post": {
        "tags": [
          "UndoRequests"
        ],
        "summary": "Undo / rollback a request previously recorded",
        "description": "UndoRequests allows you to undo / rollback a request that has previously been submitted. This will rollback any actions that the `undoRequestId` request performed such as moving animals or applying tags. \n* The authenticated user must have originally created the request being undone (unless the authenticated user is an administrator).\n* The type of the request being undone must support being undone. This can be verified by checking the [Requests](#Requests) endpoint if property `undoSupported` equals true.\n* The system may not allow the request to be undone if other events have subsequently happened to animals involved in the request.",
        "operationId": "post-v1-undorequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CLAOData.Models.UndoRequest.UndoRequest"
              },
              "example": {
                "updatedDate": "string",
                "requestDate": "string",
                "requestStatus": "NotAvailable",
                "userName": "string",
                "warnings": [
                  {
                    "message": "string",
                    "code": "string",
                    "target": "string"
                  }
                ],
                "content": {
                  "id": 0,
                  "processingFlags": [
                    {
                      "processingFlagId": 0,
                      "name": "string"
                    }
                  ],
                  "trackingId": "string",
                  "undoRequestId": 0
                },
                "requestId": 0,
                "errors": [
                  {
                    "message": "string",
                    "code": "string",
                    "target": "string"
                  }
                ],
                "undoSupported": true,
                "isContentPurged": true,
                "isFullUndone": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successfully queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.UndoRequest.UndoRequest"
                },
                "example": {
                  "updatedDate": "string",
                  "requestDate": "string",
                  "requestStatus": "NotAvailable",
                  "userName": "string",
                  "warnings": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "content": {
                    "id": 0,
                    "processingFlags": [
                      {
                        "processingFlagId": 0,
                        "name": "string"
                      }
                    ],
                    "trackingId": "string",
                    "undoRequestId": 0
                  },
                  "requestId": 0,
                  "errors": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "undoSupported": true,
                  "isContentPurged": true,
                  "isFullUndone": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "UndoRequests"
        ],
        "summary": "Gets all requests to undo / rollback a request previously recorded",
        "description": "Returns all UndoRequests.\n* For most user roles only returns requests created by authenticated user.",
        "operationId": "get-v1-undorequests",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions. Only dates with a time part will be accepted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Format - int32. Format - int32. Limits the number of items returned from a collection.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Format - int32. Format - int32. Excludes the specified number of items of the queried collection from the result.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.UndoRequest.UndoRequestListResult"
                },
                "example": {
                  "value": [
                    {
                      "undoSupported": true,
                      "requestStatus": "Success",
                      "content": {
                        "undoRequestId": 12
                      },
                      "updatedDate": "2021-06-07T14:47:03.9975919+00:00",
                      "requestDate": "2021-06-07T14:46:03.9975919+00:00",
                      "requestId": 33
                    },
                    {
                      "undoSupported": true,
                      "errors": [
                        {
                          "code": "14113",
                          "message": "Unable to UNDO request, the animal UK0244220 00007 contains a subsequent movement (after) submitted by request 32."
                        }
                      ],
                      "requestStatus": "CompletedError",
                      "content": {
                        "undoRequestId": 13
                      },
                      "updatedDate": "2021-06-07T14:47:03.9975919+00:00",
                      "requestDate": "2021-06-07T14:46:03.9975919+00:00",
                      "requestId": 34
                    }
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.UndoRequest.UndoRequestListResult"
                },
                "example": {
                  "value": [
                    {
                      "undoSupported": true,
                      "requestStatus": "Success",
                      "content": {
                        "undoRequestId": 12
                      },
                      "updatedDate": "2021-06-07T14:47:03.9975919+00:00",
                      "requestDate": "2021-06-07T14:46:03.9975919+00:00",
                      "requestId": 33
                    },
                    {
                      "undoSupported": true,
                      "errors": [
                        {
                          "code": "14113",
                          "message": "Unable to UNDO request, the animal UK0244220 00007 contains a subsequent movement (after) submitted by request 32."
                        }
                      ],
                      "requestStatus": "CompletedError",
                      "content": {
                        "undoRequestId": 13
                      },
                      "updatedDate": "2021-06-07T14:47:03.9975919+00:00",
                      "requestDate": "2021-06-07T14:46:03.9975919+00:00",
                      "requestId": 34
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          }
        }
      }
    },
    "/ReviewHoldingMovementRequests": {
      "post": {
        "tags": [
          "ReviewHoldingMovementRequests"
        ],
        "summary": "Review the movement of animals",
        "description": "ReviewHoldingMovementRequests allows the authenticated user to review movements submitted by someone else on or off holdings that they are associated with.\n* Movements available for review can be obtained from the [HoldingMovementForReviews](#HoldingMovementForReviews) endpoint.\n* For a given movement available for review, either:\n  * The whole movement can be accepted as entered by the other keeper.\n  * Partially accepted for some individual or batch identified animals involved, with others rejected as not being included in the movement.\n  * The whole movement can be rejected as not happening.\n* If there are any extra animals that moved but were not included in the movement for review, record a new movement using the [TransferRequests](#TransferRequests) endpoint for just the missing animals.\n* Any movements accepted or partially accepted will appear in the [Holding Register](#HoldingRegisters).",
        "operationId": "post-v1-reviewholdingmovementrequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CLAOData.Models.ReviewHoldingMovement.ReviewHoldingMovement"
              },
              "example": {
                "updatedDate": "string",
                "requestDate": "string",
                "requestStatus": "NotAvailable",
                "userName": "string",
                "warnings": [
                  {
                    "message": "string",
                    "code": "string",
                    "target": "string"
                  }
                ],
                "content": {
                  "reviewMovement": {
                    "rejectedDevices": [
                      {
                        "freezebrand": "string",
                        "rfid": "string",
                        "tagNumber": "string"
                      }
                    ],
                    "rejectedBatches": [
                      {
                        "idMark": "string",
                        "batchMovementId": 0,
                        "batchNumber": "string",
                        "stockType": "string",
                        "animalTotal": 0
                      }
                    ],
                    "acceptedBatches": [
                      {
                        "idMark": "string",
                        "batchMovementId": 0,
                        "batchNumber": "string",
                        "stockType": "string",
                        "animalTotal": 0
                      }
                    ],
                    "isAccepted": true,
                    "requestId": 0,
                    "animalTotal": 1,
                    "arrivalDate": "string",
                    "acceptedDevices": [
                      {
                        "freezebrand": "string",
                        "rfid": "string",
                        "tagNumber": "string"
                      }
                    ]
                  },
                  "id": 0,
                  "processingFlags": [
                    {
                      "processingFlagId": 0,
                      "name": "string"
                    }
                  ],
                  "trackingId": "string",
                  "holding": "string"
                },
                "requestId": 0,
                "errors": [
                  {
                    "message": "string",
                    "code": "string",
                    "target": "string"
                  }
                ],
                "undoSupported": true,
                "isContentPurged": true,
                "isFullUndone": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successfully queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ReviewHoldingMovement.ReviewHoldingMovement"
                },
                "example": {
                  "updatedDate": "string",
                  "requestDate": "string",
                  "requestStatus": "NotAvailable",
                  "userName": "string",
                  "warnings": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "content": {
                    "reviewMovement": {
                      "rejectedBatches": [
                        {
                          "idMark": "string",
                          "batchMovementId": 0,
                          "batchNumber": "string",
                          "stockType": "string",
                          "animalTotal": 0
                        }
                      ],
                      "acceptedBatches": [
                        {
                          "idMark": "string",
                          "batchMovementId": 0,
                          "batchNumber": "string",
                          "stockType": "string",
                          "animalTotal": 0
                        }
                      ],
                      "acceptedDevices": [
                        {
                          "freezebrand": "string",
                          "rfid": "string",
                          "tagNumber": "string"
                        }
                      ],
                      "isAccepted": true,
                      "rejectedDevices": [
                        {
                          "freezebrand": "string",
                          "rfid": "string",
                          "tagNumber": "string"
                        }
                      ],
                      "requestId": 0
                    },
                    "id": 0,
                    "processingFlags": [
                      {
                        "processingFlagId": 0,
                        "name": "string"
                      }
                    ],
                    "trackingId": "string",
                    "holding": "string"
                  },
                  "requestId": 0,
                  "errors": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "undoSupported": true,
                  "isContentPurged": true,
                  "isFullUndone": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ReviewHoldingMovementRequests"
        ],
        "summary": "Gets all requests to review movements of animals",
        "description": "Returns all ReviewHoldingMovementRequests.\n* For most user roles only returns requests created by authenticated user.",
        "operationId": "get-v1-reviewholdingmovementrequests",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions. Only dates with a time part will be accepted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Format - int32. Format - int32. Limits the number of items returned from a collection.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Format - int32. Format - int32. Excludes the specified number of items of the queried collection from the result.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ReviewHoldingMovement.ReviewHoldingMovementListResult"
                },
                "example": {
                  "value": [
                    {
                      "undoSupported": true,
                      "requestStatus": "Success",
                      "content": {
                        "reviewMovement": {
                          "acceptedDevices": [
                            {
                              "tagNumber": "UK0244220 00001"
                            },
                            {
                              "tagNumber": "UK0244220 00002"
                            }
                          ],
                          "isAccepted": true,
                          "requestId": 25,
                          "acceptedBatches": [
                            {
                              "batchMovementId": 1001,
                              "batchNumber": "UK244220",
                              "animalTotal": 4
                            }
                          ]
                        },
                        "holding": "26/001/8033"
                      },
                      "updatedDate": "2021-06-07T14:47:03.9965656+00:00",
                      "requestDate": "2021-06-07T14:46:03.9965656+00:00",
                      "requestId": 33
                    },
                    {
                      "content": {
                        "reviewMovement": {
                          "isAccepted": false,
                          "rejectedBatches": [
                            {
                              "batchMovementId": 1010,
                              "batchNumber": "UK244220",
                              "animalTotal": 6
                            }
                          ],
                          "requestId": 27,
                          "rejectedDevices": [
                            {
                              "tagNumber": "UK0244220 00021"
                            },
                            {
                              "tagNumber": "UK0244220 00022"
                            }
                          ]
                        },
                        "holding": "26/001/8033"
                      },
                      "undoSupported": true,
                      "requestDate": "2021-06-07T14:46:03.9965656+00:00",
                      "requestId": 34,
                      "requestStatus": "Pending"
                    }
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ReviewHoldingMovement.ReviewHoldingMovementListResult"
                },
                "example": {
                  "value": [
                    {
                      "undoSupported": true,
                      "requestStatus": "Success",
                      "content": {
                        "reviewMovement": {
                          "acceptedDevices": [
                            {
                              "tagNumber": "UK0244220 00001"
                            },
                            {
                              "tagNumber": "UK0244220 00002"
                            }
                          ],
                          "isAccepted": true,
                          "requestId": 25,
                          "acceptedBatches": [
                            {
                              "batchMovementId": 1001,
                              "batchNumber": "UK244220",
                              "animalTotal": 4
                            }
                          ]
                        },
                        "holding": "26/001/8033"
                      },
                      "updatedDate": "2021-06-07T14:47:03.9965656+00:00",
                      "requestDate": "2021-06-07T14:46:03.9965656+00:00",
                      "requestId": 33
                    },
                    {
                      "content": {
                        "reviewMovement": {
                          "isAccepted": false,
                          "rejectedBatches": [
                            {
                              "batchMovementId": 1010,
                              "batchNumber": "UK244220",
                              "animalTotal": 6
                            }
                          ],
                          "requestId": 27,
                          "rejectedDevices": [
                            {
                              "tagNumber": "UK0244220 00021"
                            },
                            {
                              "tagNumber": "UK0244220 00022"
                            }
                          ]
                        },
                        "holding": "26/001/8033"
                      },
                      "undoSupported": true,
                      "requestDate": "2021-06-07T14:46:03.9965656+00:00",
                      "requestId": 34,
                      "requestStatus": "Pending"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          }
        }
      }
    },
    "/ApprovedMovements": {
      "get": {
        "tags": [
          "ApprovedMovements"
        ],
        "summary": "Gets Approved Movements",
        "description": "For users linked to a holding, this returns all movements for holdings the authenticated user is associated with.\nThe movement must be non-system and have been recorded or reviewed and accepted by the authenticated user or other users associated with the holding.\n            \nFor users not linked to a holding this returns all movements that are not system movements.\n            \n A movement is returned twice if both:\n* It was recorded by departure keeper and destination has reviewed and accepted the movement.\n* The authenticated user is not linked to holdings, or is associated with both departure and destination holdings.\n            \nThe recordedBy property is used to indicate if the Departure or Destination end of movement has either:\n * Recorded the movement\n * Reviewed and accepted the movement",
        "operationId": "get-v1-approvedmovements",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 5.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions. Only dates with a time part will be accepted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Format - int32. Format - int32. Limits the number of items returned from a collection.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Format - int32. Format - int32. Excludes the specified number of items of the queried collection from the result.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Indicates whether the total count of items within a collection are returned in the result.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ApprovedMovement.ApprovedMovementListResult"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ApprovedMovement.ApprovedMovementListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          }
        }
      }
    },
    "/CorrectTransferRequests/$count": {
      "get": {
        "tags": [
          "CorrectTransferRequests"
        ],
        "summary": "Gets the count of requests.",
        "description": "Gets the count of requests previously submitted. The authenticated user's system permissions will determine whether the count only includes requests created by the authenticated user.",
        "operationId": "get-v1-correcttransferrequests-count",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/V1CorrectTransferRequests-countGet200TextPlainResponse"
                },
                "examples": {
                  "default": {}
                }
              }
            }
          }
        }
      }
    },
    "/ReviewHoldingMovementRequests({id})": {
      "get": {
        "tags": [
          "ReviewHoldingMovementRequests"
        ],
        "summary": "Get a specific request to review the movement of animals",
        "description": "Returns a specific ReviewHoldingMovementRequests using its request id.\n* For most user roles, user only permitted to query for request id created by authenticated user.",
        "operationId": "get-v1-reviewholdingmovementrequests-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32. Format - int32. Request id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ReviewHoldingMovement.ReviewHoldingMovement"
                },
                "example": {
                  "updatedDate": "string",
                  "requestDate": "string",
                  "requestStatus": "NotAvailable",
                  "userName": "string",
                  "warnings": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "content": {
                    "reviewMovement": {
                      "rejectedDevices": [
                        {
                          "freezebrand": "string",
                          "rfid": "string",
                          "tagNumber": "string"
                        }
                      ],
                      "rejectedBatches": [
                        {
                          "idMark": "string",
                          "batchMovementId": 0,
                          "batchNumber": "string",
                          "stockType": "string",
                          "animalTotal": 0
                        }
                      ],
                      "acceptedBatches": [
                        {
                          "idMark": "string",
                          "batchMovementId": 0,
                          "batchNumber": "string",
                          "stockType": "string",
                          "animalTotal": 0
                        }
                      ],
                      "isAccepted": true,
                      "requestId": 0,
                      "animalTotal": 1,
                      "arrivalDate": "string",
                      "acceptedDevices": [
                        {
                          "freezebrand": "string",
                          "rfid": "string",
                          "tagNumber": "string"
                        }
                      ]
                    },
                    "id": 0,
                    "processingFlags": [
                      {
                        "processingFlagId": 0,
                        "name": "string"
                      }
                    ],
                    "trackingId": "string",
                    "holding": "string"
                  },
                  "requestId": 0,
                  "errors": [
                    {
                      "message": "string",
                      "code": "string",
                      "target": "string"
                    }
                  ],
                  "undoSupported": true,
                  "isContentPurged": true,
                  "isFullUndone": true
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Models.ReviewHoldingMovement.ReviewHoldingMovement"
                },
                "example": "<CLAOData.Models.ReviewHoldingMovement.ReviewHoldingMovement> <updatedDate>string</updatedDate> <requestDate>string</requestDate> <requestStatus>NotAvailable</requestStatus> <userName>string</userName> <warnings> <message>string</message> <code>string</code> <target>string</target> </warnings> <content> <reviewMovement> <rejectedDevices> <freezebrand>string</freezebrand> <rfid>string</rfid> <tagNumber>string</tagNumber> </rejectedDevices> <rejectedBatches> <idMark>string</idMark> <batchMovementId>0</batchMovementId> <batchNumber>string</batchNumber> <stockType>string</stockType> <animalTotal>0</animalTotal> </rejectedBatches> <acceptedBatches> <idMark>string</idMark> <batchMovementId>0</batchMovementId> <batchNumber>string</batchNumber> <stockType>string</stockType> <animalTotal>0</animalTotal> </acceptedBatches> <isAccepted>true</isAccepted> <requestId>0</requestId> <animalTotal>1</animalTotal> <arrivalDate>string</arrivalDate> <acceptedDevices> <freezebrand>string</freezebrand> <rfid>string</rfid> <tagNumber>string</tagNumber> </acceptedDevices> </reviewMovement> <id>0</id> <processingFlags> <processingFlagId>0</processingFlagId> <name>string</name> </processingFlags> <trackingId>string</trackingId> <holding>string</holding> </content> <requestId>0</requestId> <errors> <message>string</message> <code>string</code> <target>string</target> </errors> <undoSupported>true</undoSupported> <isContentPurged>true</isContentPurged> <isFullUndone>true</isFullUndone> </CLAOData.Models.ReviewHoldingMovement.ReviewHoldingMovement>"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "string",
                    "code": "string",
                    "target": "string",
                    "details": [
                      {
                        "message": "string",
                        "code": "string",
                        "target": "string"
                      }
                    ]
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse"
                },
                "example": "<CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse> <error> <code>string</code> <message>string</message> <target>string</target> <details> <code>string</code> <target>string</target> <message>string</message> </details> </error> </CLAOData.Infrastructure.ErrorHandling.CLAErrorResponse>"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "title": "string",
                  "type": "string",
                  "detail": "string",
                  "instance": "string",
                  "status": 0
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": "<Microsoft.AspNetCore.Mvc.ProblemDetails> <type>string</type> <title>string</title> <status>0</status> <detail>string</detail> <instance>string</instance> </Microsoft.AspNetCore.Mvc.ProblemDetails>"
              }
            }
          }
        }
      }
    },
    "/TransferRequests": {
      "post": {
        "tags": [
          "TransferRequests"
        ],
        "summary": "Register the movement of animals",
        "description": "TransferRequests register the movement of animals between two holdings.\n\nTransfers can be one of two types depending on the role of the author:\n* If the owner of the source holding submits the transfer then it is an 'OFF' Movement. \n* If the owner of the destination holding submits the transfer then it is an 'ON' Movement.\n\nTransfers:\n* Animals can be identified individually or by batch.\n* For most user roles, the authenticated user must be associated with either the `sourceHolding` or `destinationHolding`.  The `userHolding` must equal the `destinationHolding` for ON or in-business movements or `sourceHolding` for movements OFF.\n* *Movement document*\n  * For the species cattle `movementDocument` cannot be specified, for all other species its optional.\n  * If it is an off movement, then the `departureDateTime` must be specified.\n  * If it is an on movement, then the `departureDateTime` and  `arrivalDateTime` must be specified.\n* *Market off movements* - if a market user is registering a movement off a market holding\n  * `saleDate` and `saleId` must be specified giving details about the sale.\n  * `movementGroups` should be used to group the animals by lot/pen and vendor holding. Each movement group should have these details specified in `fromSubLocation` and `vendorHolding` respectively.\n* *Registering identification / birth at same time as movement*\n  * If off or in-business movement is being registered for animals that were born on the `sourceHolding` and the identification / birth hasn't been registered for all the animals involved in the movement then `deviceApplication` can be used to specify these details at the same time as registering the movement.\n  * `deviceApplication` isn't supported for the species cattle.\n* *Exemptions*\n  * Use `processingFlags` to specify any exemptions that apply to the movement such as 'Pig pyramid move' or 'Breeding bulls / rams / goats kept in an approved isolation facility'.\n  * To get a full list of supported processing flags by species filter the [RequestTypeProcessingFlags](#RequestTypeProcessingFlags) endpoint by species and request type.",
        "operationId": "post-v1-transferrequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CLAOData.Models.Transfer.Transfer"
              },
              "example": {
                "updatedDate": "string",
                "requestDate": "string",
                "requestStatus": "NotAvailable",
                "userName": "string",
                "warnings": [
                  {
                    "message": "string",
                    "code": "string",
                    "target": "string"
                  }
                ],
                "content": {
                  "id": 0,
                  "trackingId": "string",
                  "sourceHolding": "string",
                  "animalCount": 0,
                  "movementDocument": {
                    "departureDetail": {
                      "departureHoldingType": "string",
                      "departureDateTime": "string",
                      "departureKeeper": {
                        "county": "string",
                        "address2": "string",
                        "propertyName": "string",
                        "address1": "string",
                        "title": "string",
                        "telephoneNumber": "string",
                        "lastName": "string",
                        "postCode": "string",
                        "town": "string",
                        "firstName": "string"
                      },
                      "animalTotal": 0,
                      "loadingDateTime": "string",
                      "departureOwner": {
                        "county": "string",
                        "address2": "string",
                        "propertyName": "string",
[...]
